@import url("./fontes.css");
@import url("./cores.css");

body{
  margin: 0px;
}

h1,h2,h3,h4,p{
  margin: 0px;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  display: block;
}

.header__bg{
  background-color: var(--cor-4);
  padding-bottom: 154px;
}

.header__container{
  max-width: 1110px;
  margin: 0 auto;
  padding: 0px 20px;
  
}

.header__top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0px 67px;
}

.header__requestbtn{
  padding: 12px 23px;
  border: 1px solid var(--cor-1);
  border-radius: 4px;
  letter-spacing: -0.16px;
  transition: .3s;
}

.header__requestbtn:hover{
 background-color: var(--cor-1);
 color: var(--cor-4);

}

.header__hero{
  position: relative;
  width: 350px;
  height: 600px;
  
}

.header__picture{
  position: relative;
    right: 285px;
}

.header__content{
  display: grid;
  grid-template-columns: auto 1fr;
  position: relative;
  
   
}

.header__dados{
  margin-left: 285px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 63px;
}

.header__description{
  max-width:635px;
  height: 600px;;
  position: relative;
  z-index: 1;
  display: grid;
  justify-items: start;
  align-content: center;
}

.header__picture{
  position: absolute;
 
 
}

.header__paragrafo{
  max-width: 36ch;
  margin: 40px 0px 52px;
}

.header-description__requestbtn{
  padding: 15px 32px;
  background-color: var(--cor-1);
  border-radius: 4px;
  display: inline-block;
  transition: .3s;
  
}

.header-description__requestbtn:hover{
  background: linear-gradient(160deg, #A060FF 0%, #CB30E3 60%, #FFA84E 90%);

}

.dados__legenda{
  letter-spacing: 2px;
}

@media(max-width:1080px){

  .header__container{
    padding: 0px 39px;
  }

  .header__description{
    height: 482px;
  }
  
 .header__content{
  grid-template-columns: auto;
  align-content: center;
  
 }
 .header__picture{
  position: absolute;
  right: 0;
}


 .header__hero{
  left: unset;
  right: 0px;
  width: 281px;
  height: 482px;
 }

 .header__dados{
  flex-direction: row;
  margin: 88px 0px 0px;
 }

 .header__description h1{
    max-width: 15ch;
 }
}

@media (max-width:745px){
  .header__container{
    padding: 0px 15px;
    
  }
  .header__dados{
    flex-direction: column;
    text-align: center;
  }

  .header__picture{
    position: static;
    width: auto;
    height: auto;
    margin-top: 56px;
  }

  .header__hero{
    width: 100%;
    height: 100%;
  }


  .header__paragrafo{
    max-width: 38ch;
  }

 .header__description{
  justify-content: center;
  height: 326px;
 }
}